# Ignore Gradle project-specific cache directory

# Ignore Gradle lock files
**/.lock


#
# Ignore Gradle build output directory
#
src/build/
src/*/build
src/*/*/build
*.class
**/.gradle


#
# Ignore various eclipse artifacts
#
**/.settings
**/.classpath
**/.project
**/.eml

#
# Target created by mvn when building repository
#
src/target

build
*~

#
# Ignore IntelliJ artifcats
#
**/.idea
**/out
**/*.iml

#
# MacOS directory artifacts
#
**/.DS_Store

#
# Ignore generated jars that are used for integration tests.
#
src/framework/mil.sstaf.core/src/test/resources/moduleLayers/dir1/*.jar
src/framework/mil.sstaf.core/src/test/resources/moduleLayers/dir2/*.jar
src/framework/mil.sstaf.core/src/test/resources/moduleLayers/dir3/*.jar
src/framework/mil.sstaf.core/src/test/resources/moduleLayers/dir4/*.jar
src/framework/mil.sstaf.core/src/integrationTest/resources/modules/jamesbond/*.jar

